.mainsection {
    display: flex;
    gap: 1vw;
    height: 100%;
    font-family: "poppins";
    padding: 1vw;
    // margin-top: 1vw;
    // background-color: pink;

    .content1 {
        width: 60%;
        height: 35vw;


        h1 {
            height: 3.5vw;
            border-top-left-radius: 0.3vw;
            border-top-right-radius: 0.3vw;
            // font-size: 1.4vw;
            // border: 0.1vw solid #9f9e9e;
            padding: 1.3vw 0.9vw;
            color: #314262;
            font-family: "poppins";
            background-color: #F2F2F2;
            font-size: 1.4vw;
        }

        .contactColumns {
            height: 3.5vw;
            border-radius: 0.3vw;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 2vw;
            // font-size: 1.4vw;
            // border: 0.1vw solid #9f9e9e;
            padding: 1.3vw 0.9vw;
            // color:#314262;
            font-family: "poppins";
            background-color: #cbcfd2;
            // font-size: 1.2vw;

            p {
                color: #314262;
                font-size: 1.1vw;
            }

            .contactHeading{
                display: flex;
                justify-content: center;
                
                th{
                    color: #314262;
                font-size: 1.1vw;
                }
            }
        }
    }

    .content2 {
        width: 40%;
        display: grid;
        // place-content: center;
        // align-items: center;
        padding: 2vw;
        height: 35vw;
        box-shadow: rgb(197, 196, 196) 0px 0px 10px;

        h1 {
            font-family: 'Poppins', sans-serif;
            text-align: center;
            padding-top: 1vw;
            color: #314262;
            font-size: 1.8vw;
            border-bottom: 0.1vw solid #E8E8E8;
            margin-bottom: 0.5vw;
        }

        form {
            display: grid;


            input {
                height: 3vw;
            }

            select {
                height: 3vw;
            }

            button {
                height: 3vw;
                background-color: #314262;
                color: white;
                border-color: #314262;
                border-radius: 0.3vw;
                font-size: 1vw;
            }

        }
    }
}