.mainsection {
    display: flex;
    gap: 1vw;
    height: 100%;
    font-family: "poppins";
    padding: 1vw;
    // margin-top: 1vw;
    // background-color: pink;

    .content1 {
        height: 35vw;
        width: 55%;
        padding-left: 3vw;
        padding-top: 1vw;
        display: flex;
        align-items: flex-start;

        .contactColumns {
            height: 30vw;
            width: 45vw;
            background-color: #ffffff;
            border-radius: 0.6vw;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
            overflow: hidden;
            display: flex;
            font-size: 0.9vw;
            flex-direction: column;

            table {
                width: 90%;
                margin-left: 4vw;
                border-collapse: collapse;
                background-color: #ffffff;
                border-radius: 0.6vw;
                overflow: hidden;
                height: 20vw;
                font-family: "Poppins", sans-serif;
                box-shadow: 0 4px 14px rgba(0, 0, 0, 0.06);
            }

            thead {
                background-color: #203963;

                tr {
                    height: 3.2vw;
                }

                th {
                    color: #ffffff;
                    font-weight: 500;
                    text-align: left;
                    padding: 0 1.5vw;
                }
            }

            tbody {
                tr {
                    height: 3vw;
                    background-color: #ffffff;
                    transition: background-color 0.2s ease;

                    &:hover {
                        background-color: #f4f6fb;
                    }

                    .actions {
                        display: flex;
                        gap: 1vw;
                    }
                }

                td {
                    padding: 0 1.5vw;
                    color: #314262;
                    border-bottom: 1px solid #e8e8e8;
                }

                tr:last-child td {
                    border-bottom: none;
                }

                .actions {
                    display: flex;
                    gap: 0.8vw;

                    button {
                        padding: 0.4vw 0.9vw;
                        font-size: 0.8vw;
                        border-radius: 0.3vw;
                        border: none;
                        cursor: pointer;
                    }

                    button:first-child {
                        background-color: #e0e7ff;
                        color: #1e3a8a;
                    }

                    button:last-child {
                        background-color: #fee2e2;
                        color: #991b1b;
                    }
                }

            }
        }

    }

    .content2 {
        width: 40%;
        display: grid;
        // place-content: center;
        // align-items: center;
        padding: 2vw;
        height: 35vw;
        box-shadow: rgb(197, 196, 196) 0px 0px 10px;

        h1 {
            font-family: 'Poppins', sans-serif;
            text-align: center;
            padding-top: 1vw;
            color: #314262;
            font-size: 1.8vw;
            border-bottom: 0.1vw solid #E8E8E8;
            margin-bottom: 0.5vw;
        }

        form {
            display: grid;


            input {
                height: 3vw;
                padding-left: 1vw;
            }

            select {
                height: 3vw;
                padding-left: 1vw;
            }

            button {
                height: 3vw;
                background-color: #314262;
                color: white;
                border-color: #314262;
                border-radius: 0.3vw;
                font-size: 1vw;
            }

        }
    }
}