.mainsection {
    display: flex;
    gap: 1vw;
    height: 100%;
    font-family: "poppins";
    padding: 1vw;

    .content1 {
        padding: 2rem;
        overflow-x: auto;

        table.contactColumns {
            width: 100%;
            border-collapse: collapse;
            font-family: Arial, sans-serif;
            min-width: 600px; 

            thead.contactHeading {
                background-color: #203963;
                color: white;
                text-align: left;

                th {
                    padding: 0.8rem 1rem;
                    font-weight: 600;
                    font-size: 1rem;
                }
            }

            tbody {
                tr {
                    border-bottom: 1px solid #e0e0e0;
                    transition: background-color 0.3s ease;

                    &:hover {
                        background-color: #f1f5fb;
                    }

                    td {
                        padding: 0.8rem 1rem;
                        font-size: 0.95rem;
                        color: #203963;
                    }

                    td.actions {
                        display: flex;
                        gap: 0.5rem;

                        button {
                            padding: 0.4rem 0.8rem;
                            border: none;
                            border-radius: 0.3rem;
                            cursor: pointer;
                            font-weight: 500;
                            font-size: 0.9rem;
                            transition: all 0.2s ease;

                            &:first-child {
                                background-color: #314262;
                                color: white;

                                &:hover {
                                    background-color: #2b3f65;
                                }
                            }

                            &:last-child {
                                background-color: #f44336;
                                color: white;

                                &:hover {
                                    background-color: #d32f2f;
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    .content2 {
        width: 40%;
        display: grid;
        padding: 2vw;
        height: 35vw;
        box-shadow: rgb(197, 196, 196) 0px 0px 10px;

        .error{
            color:red;
            font-size: 0.9vw;
        }

        h1 {
            font-family: 'Poppins', sans-serif;
            text-align: center;
            padding-top: 1vw;
            color: #314262;
            font-size: 1.8vw;
            border-bottom: 0.1vw solid #E8E8E8;
            margin-bottom: 0.5vw;
        }

        form {
            display: grid;


            input {
                height: 3vw;
                padding-left: 1vw;
            }

            select {
                height: 3vw;
                padding-left: 1vw;
            }

            button {
                height: 3vw;
                background-color: #314262;
                color: white;
                border-color: #314262;
                border-radius: 0.3vw;
                font-size: 1vw;
            }

        }
    }
}