.sidebarContainer{
    font-family: 'Poppins', sans-serif;
    width: 250px;
    height: 100vh;
    background-color: #203963;
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    place-content: start;
    align-items: center;
    gap:1vw;

    .sidebarItems{
        height: 5vw;
        width: 12vw;
        background: #2F68AA;
        display: grid;
        place-content: center;
        align-items: center;
        
        a{
            font-size: 1.2vw;
            font-weight: 500;
            text-align: center;
            line-height: 5vw;
            // color:white;
            cursor: pointer;
        }
    }
}