.mainContent {
    display: flex;
    gap: 1vw;

    .content1 {
        height: 35vw;
        width: 55%;
        padding-left: 3vw;
        padding-top: 1vw;
        display: flex;
        align-items: flex-start;

        .templateTable {
            width: 100%;
            border-collapse: collapse;
            background-color: #faf9f9;
            border-radius: 0.5vw;
            overflow: hidden;

            thead {
                background-color: #203963;
                color: #ffffff;
            }

            th,
            td {
                padding: 1vw 1.5vw; 
                text-align: left;
                font-size: 1vw;
            }

            th {
                font-weight: 600;
                letter-spacing: 0.03vw;
            }

            tbody tr {
                background-color: #ffffff;
                border-bottom: 0.1vw solid #e6e6e6;

                &:hover {
                    background-color: #f4f7fb;
                }
            }

            .actions {
                display: flex;
                gap: 0.7vw;
            }

            button {
                padding: 0.4vw 0.8vw;
                border: none;
                border-radius: 0.3vw;
                font-size: 0.9vw;
                cursor: pointer;
                background-color: #203963;
                color: #fff;

                &:last-child {
                    background-color: #c0392b;
                }
            }
        }

        .emptyState {
            text-align: center;
            padding: 2vw;
            color: #888;
        }

    }


    .emailtemplate {
        height: 40vw;
        width: 40%;
        background-color: #FFFFFF;
        box-shadow: rgb(197, 196, 196) 0px 0px 10px;
        border-radius: 0.5vw;
        padding: 2vw;

        h1 {
            font-family: 'Poppins', sans-serif;
            text-align: center;
            padding-top: 1vw;
            color: #314262;
            font-size: 1.8vw;
            border-bottom: 0.1vw solid #E8E8E8;
        }

        .templateName {
            display: flex;
            flex-direction: column;
            margin-top: 2vw;

            label {
                font-family: 'Poppins', sans-serif;
                margin-bottom: 0.5vw;
                font-size: 1vw;
                color: #314262;
                font-weight: 600;
            }

            .error {
                color: red;
                font-size: 0.9vw;
            }

            input {
                height: 2vw;
                border-radius: 0.3vw;
                border: 0.1vw solid #CCCCCC;
                padding: 1.3vw 0.9vw;
                font-size: 1vw;
            }
        }

        .templateSubject {
            display: flex;
            flex-direction: column;
            margin-top: 2vw;

            label {
                font-family: 'Poppins', sans-serif;
                margin-bottom: 0.5vw;
                font-size: 1vw;
                color: #314262;
                font-weight: 600;
            }

            .error {
                color: red;
                font-size: 0.9vw;
            }

            input {
                height: 2vw;
                border-radius: 0.3vw;
                border: 0.1vw solid #CCCCCC;
                padding: 1.3vw 0.9vw;
                font-size: 1vw;
            }
        }

        .templateBody {
            display: flex;
            flex-direction: column;
            margin-top: 1vw;

            label {
                font-family: 'Poppins', sans-serif;
                margin-bottom: 0.5vw;
                font-size: 1vw;
                color: #314262;
                font-weight: 600;
            }

            .error {
                color: red;
                font-size: 0.9vw;
            }

            textarea {
                padding: 0.5vw;
                height: 10vw;
                max-height: 12vw;
                max-width: 29vw;
                min-height: 10vw;
            }
        }

        .templateButton {
            margin-top: 1.9vw;
            width: 100%;
            height: 3vw;
            background-color: #203963;
            color: #FFFFFF;
            font-family: 'Poppins', sans-serif;
            font-size: 1.2vw;
            border: none;
            border-radius: 0.3vw;
            cursor: pointer;
        }
    }
}