.mainSection{
    display: grid;
    padding: 3vw;
    gap:2vw;

    .template{
        display: flex;
        gap:1vw;

        p{
            font-size: 1.2vw;
        }

        select{
            height: 3vw;
            width: 20vw;
        }
    }

    .groups{
        display: flex;
        gap:1vw;

        p{
            font-size: 1.2vw;
        }

        select{
            height: 3vw;
            width: 20vw;
        }
    }

    .preview{

        p{
            font-size: 1.2vw;
        }
    }

    button{
        height: 3vw;
        width: 7vw;
        background-color: blue;
        color:white;
    }
}