.navbarContainer{
    font-family: 'Poppins', sans-serif;
    width: 80vw;
    height: 5vw;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;

    .h1{
        color:#203963;
    }
}